{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Find your place {% block title %}{% endblock %}</title>
  <meta name="description" content="Rent your place here.">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="{% static 'css/style.css'  %}" rel="stylesheet" />
</head>
<body>
  <header>
    <div>
      <h1>Find your place</h1>
    </div>
  </header>
  <section>
    <section>
      {% block content %}{% endblock %}
    </section>
  </section>
</body>
</html>
